---
---

<section class="mb-8">
   
    <div>
      <p class="mb-5">
        <strong> Bienvenidos a Voces del Saber - 99.9 FM</strong>
        Sintoniza el punto donde la creatividad, el aprendizaje y los valores se encuentran
         para transformar nuestra comunidad educativa. Como iniciativa de la Institución Educativa 
         Isabel la Católica, en <strong> Voces del Saber </strong> trabajamos para inspirar, educar y entretener a través de una programación dinámica, inclusiva y enriquecedora.  

        En la frecuencia <strong>99.9 FM</strong> , cada voz cuenta y cada programa fomenta el desarrollo de competencias académicas, ciudadanas y emprendedoras, destacando valores como el respeto, la disciplina y el trabajo en equipo.  

        ¡Conéctate con nosotros y sé parte de esta experiencia transformadora que impulsa el conocimiento y la innovación!

      </p>
      <p class="text-center whitespace-nowrap overflow-auto">
        <code class="py-1 px-2">Voces del Saber -   mucho más que una emisora</code>
      </p>
    </div>
  </section>
  