---
import logoIsabel from '../assets/img/isableIcon.jpeg'
---

<section class="mb-8">
  <div class="flex gap-2">
    <img src={logoIsabel} width="150px"  alt="Lodo de isabel la catolica">
    <h1
      class="font-extrabold text-5xl md:text-6xl tracking-tight pt-4 pb-2 overflow-hidden"
    >
      <span
        class="bg-gradient-to-br from-[#d32222] via-[#d32222] to-[#d32222] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent"
      >
      ¿Quienes Somos?
      </span>
      <p class="text-2xl pb-4">Institución educativa Isabel la Catolica     </p>
    </h1>
  </div>
    <div>
      <p class="my-5">
        <strong>Voces del Saber</strong>  es una emisora escolar digital de la Institución Educativa Isabel la Católica, dedicada a la formación integral de nuestra comunidad educativa. A través de una programación dinámica, inclusiva y creativa, buscamos fomentar el desarrollo de competencias académicas, ciudadanas y emprendedoras en nuestros estudiantes y docentes.
        En <strong>Voces del Saber</strong> , nos enfocamos en promover valores como el respeto, la disciplina, el trabajo en equipo y el amor por el conocimiento. A través de programas interactivos, música, entretenimiento, ficción y educación, nos convertimos en una herramienta pedagógica innovadora que apoya el aprendizaje y la solución de problemas dentro y fuera del aula.
        Nuestro propósito es ser un espacio de expresión y aprendizaje, donde las voces de estudiantes, docentes y padres de familia sean escuchadas, valoradas y potenciadas. <strong>Voces del Saber</strong>  es mucho más que una emisora, es un lugar de transformación y colaboración para toda nuestra comunidad educativa.
        

      </p>
      <p class="text-center whitespace-nowrap overflow-auto">
        <code class="py-1 px-2">Voces del Saber -   mucho más que una emisora</code>
      </p>
    </div>
  </section>
  