---
import logoRadio from '../assets/img/radio.jpeg'
---

<div class="mx-auto">
    <!-- Selección de Día -->
    <div class="mb-4">
      <div class="flex gap-2">
        <img src={logoRadio} width="150px"  alt="Lodo de isabel la catolica">
        <h1
          class="font-extrabold text-5xl md:text-6xl tracking-tight pt-4 pb-2 overflow-hidden"
        >
          <span
            class="bg-gradient-to-br from-[#d32222] via-[#d32222] to-[#d32222] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent"
          >
          Voces del Saber
          </span>
          <p class="text-2xl pb-4">Institución educativa Isabel la Catolica     </p>
        </h1>
      </div>
    </div>

  
  </div>