---

---

<div class=" mx-auto">
    <!-- Tabla de Pr칩ximos Programas -->
  <h2 class="font-bold text-3xl mt-6 mb-4">Programas Destacados</h2>
  <table class="min-w-full table-auto border-collapse border border-gray-300 dark:border-gray-700">
    <thead>
      <tr class="bg-gray-200 dark:bg-gray-800">
        <th class="border border-gray-300 dark:border-gray-700 px-4 py-2 text-black dark:text-white">Programa</th>
        <th class="border border-gray-300 dark:border-gray-700 px-4 py-2 text-black dark:text-white">Enlace</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="border border-gray-300 dark:border-gray-700 px-4 py-2 text-black dark:text-white">La Se침al Perdida</td>
        <td class="border border-gray-300 dark:border-gray-700 px-4 py-2 text-blue-600 dark:text-blue-400"><a href="https://drive.google.com/file/d/164rfvHGkTFtwRXJucS6jY0NhTclvgM9G/view?usp=drivesdk" target="_blank">Ver programa</a></td>
      </tr>
      <tr>
        <td class="border border-gray-300 dark:border-gray-700 px-4 py-2 text-black dark:text-white">Ritmos del Coraz칩n</td>
        <td class="border border-gray-300 dark:border-gray-700 px-4 py-2 text-blue-600 dark:text-blue-400"><a href="https://drive.google.com/file/d/1QUCEHmq27Okm4p1lOErYGvoKo2NJhtjZ/view?usp=drivesdk" target="_blank">Ver programa</a></td>
      </tr>
      <tr>
        <td class="border border-gray-300 dark:border-gray-700 px-4 py-2 text-black dark:text-white">Voces en Acci칩n</td>
        <td class="border border-gray-300 dark:border-gray-700 px-4 py-2 text-blue-600 dark:text-blue-400"><a href="https://drive.google.com/file/d/15eiXRKd0spmAs-hKM7eVCR61pXOtxU4D/view?usp=drivesdk" target="_blank">Ver programa</a></td>
      </tr>
    </tbody>
  </table>
  
  </div>

  </div>
  
 