---
---

<section class="mb-8">
    <div class="mb-4">
      <h1
        class="font-extrabold text-5xl md:text-6xl tracking-tight pt-4 pb-2 overflow-hidden"
      >
        <span
          class="bg-gradient-to-br from-[#d32222] via-[#d32222] to-[#d32222] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent"
        >
        Visión
        </span>
      </h1>
      <p class="text-2xl pb-4">Institución educativa Isabel la Catolica     </p>
    </div>
    <div>
      <p class="mb-5">
        Para el 2025, la Emisora Escolar “Voces del saber” se proyecta como un referente de excelencia en comunicación educativa, integrando avances tecnológicos (TIC), bilingüismo y creatividad para fortalecer las habilidades académicas, emprendedoras y financieras de los estudiantes. Será un espacio transformador que fomente los valores fundamentales, promueva el cuidado del entorno físico y ambiental, y potencie la colaboración entre docentes, estudiantes y la comunidad para satisfacer las necesidades educativas del presente y el futuro.

      </p>
      <p class="text-center whitespace-nowrap overflow-auto">
        <code class="py-1 px-2">Voces del Saber -   mucho más que una emisora</code>
      </p>
    </div>
  </section>
  